.row
  .col-lg-8
    = form_for @journal_entry do |f|
      - if @journal_entry.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_entry.errors.count, "error")} prohibited this journal_entry from being saved:"
          %ul
            - @journal_entry.errors.full_messages.each do |msg|
              %li= msg

      
      .form-group 
        = f.label :title, class: "control-label"
        = f.text_field :title, type: "text", class: "form-control", placeholder: "Don Quick-six"
      .form-group 
        = f.label :content, class: "control-label"
        = f.text_area :content, type: "text", rows: "5", class: "form-control", placeholder: "Dear Diary...."
      
      = f.submit 'Save', class: "btn btn-primary"
