.journal-entry
  %h3 #{journal_entry.title}
  %p.journal-date #{journal_entry.created_at.strftime("%B %d, %Y")}
  / %p #{ truncate_with_link(journal_entry.content, 40, journal_entry_path(journal_entry)) }
  %p #{ truncate(journal_entry.content, 40) } #{link_to "Read More", journal_entry_path(journal_entry)}
  = render_shareable :buttons=> ['twitter', 'facebook', 'google_plus','reddit'] 

  -if current_user && current_user.admin?
    = link_to 'Edit', edit_journal_entry_path(journal_entry)
  
