!!!
%html
  %head
    %title Wayfaring
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    / %link{:href => 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', :rel => "stylesheet", :type => "text/css"}
    %meta{:name=>"description", :content=> "The 20-day interactive road trip hosted by Malcolm Freberg. See latest episodes, meet the crew, view exclusive content, and more."}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    
    / Zoomph Head Code
    /%script{:src => "//display.zoomph.com/Scripts/jquery-1.7.1.min.js", :type => "text/javascript"}
    %script{:src => "//display.zoomph.com/Bundles/socialHubLoader", :type => "text/javascript"}
    %link{:href => "//zoomphcontent.azurewebsites.net/clients/wayfaring/Style-socialhub.css", :rel => "stylesheet"}/
    / END Zoomph Head Code
    / -- ZOOMPH JS/CSS (Needed once per page)
    %script{:src => "//display.zoomph.com/Bundles/widgetLoader", :type => "text/javascript"}
    %link{:href => "//display.zoomph.com/Bundles/widgetCss", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//admin.zoomph.com/Display/Widget/v5/Styles/Reset.css", :rel => "stylesheet"}/
    %link{:href => "//zoomphcontent.azurewebsites.net/clients/wayfaring/style.css", :rel => "stylesheet"}
    / -- END ZOOMPH JS/CSS (Needed once per page)
    
    / -- JS/CSS (Needed once per page)
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51824506-1', 'wayfaringlive.com');
      ga('send', 'pageview');
    = csrf_meta_tags
  /%body{class: "#{'normal' if !current_page?(header_iframe_path)}"}
  %body.normal
    .container
      %p.notice #{notice}
      %p.alert  #{alert}
      -if flash[:success]
        %h1.success #{flash[:success]}
      =render "layouts/header"
    .container
      .opaque-bodyx
        = yield
        = debug(params) if Rails.env.development?
  %footer
