!!!
%html
  %head
    %title Wayfaring
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:name=>"description", :content=> "The 20-day interactive road trip hosted by Malcolm Freberg. See latest episodes, meet the crew, view exclusive content, and more."}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    
    / Zoomph Head Code
    %script{:src => "//display.zoomph.com/Scripts/jquery-1.7.1.min.js", :type => "text/javascript"}
    %script{:src => "//display.zoomph.com/Bundles/socialHubLoader", :type => "text/javascript"}
    %link{:href => "//zoomphcontent.azurewebsites.net/clients/wayfaring/Style-socialhub.css", :rel => "stylesheet"}/
    / END Zoomph Head Code
    / -- ZOOMPH JS/CSS (Needed once per page)
    %script{:src => "//display.zoomph.com/Scripts/jquery-1.7.1.min.js", :type => "text/javascript"}
    %script{:src => "//display.zoomph.com/Bundles/widgetLoader", :type => "text/javascript"}
    %link{:href => "//display.zoomph.com/Bundles/widgetCss", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//admin.zoomph.com/Display/Widget/v5/Styles/Reset.css", :rel => "stylesheet"}/
    %link{:href => "//zoomphcontent.azurewebsites.net/clients/wayfaring/style.css", :rel => "stylesheet"}/
    / -- END ZOOMPH JS/CSS (Needed once per page)
    
  %body{class: "#{'normal' if !current_page?(header_iframe_path)}"}
    -if current_page?(header_iframe_path)
      =render 'pages/header_iframe'
    -else
      .container
        %p.notice #{notice}
        %p.alert  #{alert}
        -if flash[:success]
          %h1.success #{flash[:success]}
        =render "layouts/header"
      .container
        .opaque-body
          = yield
          = debug(params) if Rails.env.development?
  %footer
    /%h1 Wayfaring live